html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-image: url(./img_kemenger/header/back-img/w.png),
    url(./img_kemenger/header/back-img/a.png),
    url(./img_kemenger/header/back-img/book.png),
    url(./img_kemenger/header/back-img/five.png),
    url(./img_kemenger/header/back-img/pen.png),
    url(./img_kemenger/header/back-boy.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-size: 120px 120px, 190px 400px, 340px 270px, 120px 120px,
    120px 120px, 550px 700px;

  background-position: right 0, 400px 400px, 800px 500px, 600px 300px,
    900px 200px, 1100px 0, right 0;
  margin-bottom: 100px;
  height: 100vh;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 20px;
}
.tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}
.menu__list-link {
  font-weight: 500;
  font-size: 16px;
}
.menu__list-link:hover {
  color: #018fa3;
}

/* header__inner */

.header__inner {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 670px;
  padding-top: 80px;
}
.header__inner-title {
  font-weight: 600;
  font-size: 48px;
}
.header__inner-title-span {
  color: #018fa3;
}
.header__inner-text {
  font-weight: 400;
  font-size: 24px;
}
.header__inner-button {
  background-color: #fae01a;
  border: none;
  border-radius: 30px;
  width: 244px;
  height: 64px;
  padding: 0 auto;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 5px 5px 25px#fae01a;
}
.header__inner-button:active {
  border: none;
}

/* modal-form */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  position: relative;
  max-width: 400px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform 0.8s;
  border-radius: 30px;
}
.modal__form-span {
  color: #018fa3;
}
.modal__text-p {
  padding-top: 20px;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  max-width: 305;
  text-align: center;
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.modal__input {
  width: 310px;
  margin-top: 20px;
  height: 60px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 20px;
  padding: 0 20px;
}
.modal__btn {
  margin-top: 20px;
  height: 60px;
  width: 244px;
  margin: 0 auto;
  border-radius: 30px;
  border: none;
  background-color: #fae01a;
  display: flex;
  justify-content: center;
}
.modal__btn-link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding-top: 15px;
}
.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.modal__close-btn svg path {
  transition: fill 0.4s;
}

.modal__close-btn:hover svg path {
  fill: blue;
}

.modal__close-btn:active svg path {
  fill: rgb(186, 53, 0);
}
.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

/* section about */

.about__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 80px;
}
.about__item {
  display: flex;
}
.about__item-text {
  font-weight: 400;
  font-size: 22px;
  max-width: 459px;
  max-height: 205px;
  background-color: #fff7be;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
}
.about__item-img {
  width: 201px;
  margin-top: 60px;
  margin-left: 300px;
}
.about__photo-img {
  width: 478px;
  height: 323px;
  float: right;
  position: relative;
}
.about__photo-back {
  width: 478px;
  height: 323px;
  position: absolute;
  z-index: -1;
  margin-top: 30px;
  margin-left: 40px;
}

/* section description */

.description {
  background-image: url(/kemengerNew/img_kemenger/contacts/circle1sm.svg),
    url(/kemengerNew/img_kemenger/contacts/circle1b.svg),
    url(/kemengerNew/img_kemenger/contacts/circle2sm.svg),
    url(/kemengerNew/img_kemenger/contacts/circle2b.svg),
    url(/kemengerNew/img_kemenger/main-icons/Ellipse4.svg);
  background-repeat: no-repeat;
  background-position: 100px 100px, 0px 180px, 1200px 500px, 1250px 530px,
    150px 600px;
}
.description__item-img {
  width: 120px;
  height: 120px;
}
.description__item-text {
  font-weight: 400;
  font-size: 24px;
  max-width: 150px;
}
.description__items {
  margin: 0 auto;
  height: 95vh;
  position: relative;
  text-align: center;
  margin-right: 100px;
}
.description__item {
  display: flex;
  flex-direction: column;
}
.description {
  height: 100vh;
  margin-bottom: 100px;
}
.description__center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 260px;
  flex-direction: column;
  margin-left: 140px;
  margin-top: 0px;
}

.description__center-text {
  font-weight: 400;
  font-size: 24px;
  max-width: 373px;
}
.description__center-img {
  width: 223px;
  height: 221px;
}

/* catalog */

.catalog {
  background-color: #f6faff;
  position: relative;
}
.catalog__title {
  font-weight: 600;
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.catalog__items {
  margin: auto;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.catalog__item {
  width: 387px;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #fff;
  margin-left: 10px;
  justify-content: space-between;
}
.catalog__item-title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  width: 387px;
  height: 80px;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__item-describe-age {
  margin: 0 auto;
}
.catalog__item-preparation {
  background-color: #018fa3;
}
.catalog__item-price {
  font-weight: 600;
  font-size: 48px;
}
.catalog__item-describe {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.catalog__item-lessons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.catalog__item-lesson {
  font-weight: 400;
  font-size: 24px;
}
.catalog__item-btn {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  width: 219px;
  height: 68px;
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.catalog__item-lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  text-align: center;
}
.catalog__item-reading {
  background-color: #955eea;
}
.catalog__item-arithmetic {
  background-color: #4eca30;
}
.catalog__item-calligraphy {
  background-color: #ffe41b;
}
.catalog__item-english {
  background-color: #ff4d94;
}
.catalog__item-extension {
  background-color: #ffa724;
}

.catalog__btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  padding: 50px;
}
.catalog__btn-img {
  width: 60px;
}

/* certificates */

.certificates {
  background-image: url(/kemengerNew/img_kemenger/main-icons/Ellipse3.svg),
    url(/kemengerNew/img_kemenger/main-icons/Ellipse2.svg),
    url(/kemengerNew/img_kemenger/main-icons/Ellipse1.svg),
    url(/kemengerNew/img_kemenger/main-icons/Ellipse4.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 70px 70px, 400px 430px, 400px 450px, 150px 150px;
  background-position: 200px 300px, left, left 10px, right 300px;
}
.certificates__title {
  font-weight: 600;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.certificates__items {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 140px;
}

/* reviews */

.reviews__title {
  font-weight: 600;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews {
  position: relative;
}
.reviews__btn-img {
  width: 60px;
}
.reviews__item {
  border: 4px solid #018fa3;
  border-radius: 30px;
  width: 387px;
  height: 284px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.reviews__item-name {
  font-weight: 600;
  font-size: 24px;
}
.reviews__item-text {
  font-weight: 400;
  font-size: 20px;
  max-width: 327px;
  height: 127px;
  padding-top: 10px;
}
.reviews__item-img {
  width: 80px;
  height: 80px;
}
.swiper-button-left {
  left: 0;
}
.swiper-button-right {
  right: 0;
}
.reviews__slider {
  position: relative;
  padding-top: 80px;
}

.reviews__btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  padding: 30px;
}

/* contact */

.contact {
  padding-top: 100px;
  background-image: url(/kemengerNew/img_kemenger/reviews/circle.svg);
  background-repeat: no-repeat;
  background-position: left 50px;
}
.contact__inner {
  background-color: #018fa3;
  border: none;
  border-radius: 30px;
  width: 590px;
  height: 540px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact__title {
  font-weight: 500;
  font-size: 48px;
}
.contact__data-title {
  font-weight: 600;
  font-size: 24px;
  max-width: 480px;
}
.contact__data-inf {
  font-weight: 400;
  font-size: 24px;
  max-width: 510px;
}
.contact__data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__img {
  height: 590px;
}

/* map */

.map {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/kemengerNew/img_kemenger/contacts/circle1sm.svg),
    url(/kemengerNew/img_kemenger/contacts/circle1b.svg),
    url(/kemengerNew/img_kemenger/contacts/circle2sm.svg),
    url(/kemengerNew/img_kemenger/contacts/circle2b.svg);
  background-repeat: no-repeat;
  background-position: 200px 200px, 180px 200px, 1100px 500px, 1100px 500px;
}
.map__inner {
  display: flex;
  justify-content: center;
}
.map__square {
  background-color: #955eea;
  border-radius: 30px;
  width: 820px;
  height: 610px;
  display: flex;
  justify-content: center;
}
iframe {
  width: 800px;
  height: 590px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

/* footer */

.footer {
  background-color: #0a2530;
  color: #fff;
  height: 70px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}
